<div class="clearfix"></div>
<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; <%= Time.current.year %> Agile Infoways
            </div>
            <div class="col-sm-6 text-right">
                Designed by <a target="_blank" href="https://www.agileinfoways.com/">Agile Infoways</a>
            </div>
        </div>
    </div>
</footer>